<div class="row">
    <div class="col-sm-8">
        <div class="panel-group" id="resultsPanel">
            {{#each classes}}
                {{> class-block}}
            {{/each}}
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Notes</h2>
        {{> newnote-block blank}}
        {{#each notes}} 
            {{> note-static-block}}
        {{/each}}
    </div>
</div>